################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/SeleniumCSharpNetCore/v16
/SeleniumCSharpNetCore/bin/Debug/netcoreapp3.1
/.vs/SeleniumCSharpNetCore/DesignTimeBuild
